<div class="m-1 d-flex flex-row flex-fill justify-content-between align-items-center p-1">
  <div class="float-left">
    <span>@item.Icon</span>
    @item.Name
  </div>


 @if (item is IRollable rollable)
  {
    if (rollable.Rolls?.Count() == 1)
    {
        <button class="btn btn-primary p-1">🎲</button>
    }
    else if (rollable.Rolls?.Count() > 1)
    {
        <div>Multiple rolls not implemented</div>
    }
  }

  
  </div>


@code {
  [Parameter]
  public IDescriptable item {get; set;}
  
}
