
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ordis</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rolls">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Rolls
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="character">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Character
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Skill tree
            </NavLink>
        </div>
        
    </nav>
</div>


<link
    rel="stylesheet"
    href="@Assets["
    lib
    bootstrap
    dist
    css
    bootstrap
    min
    css />
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            Ordis
        </a>
    </div>
</div>
<input
    type="checkbox"
    title="Navigation menu"
    class="navbar-toggler" />
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink
                class="nav-link"
                href=""
                Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rolls">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
                Rolls
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="character">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                Character
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                Skill tree
            </NavLink>
        </div>
    </nav>
</div>


