

<div class="orb m-auto" style="max-width: 40%">

  <div class="orb-label">@Name @Value/@Max</div>


  <div class="orb-liquid" style="height:@Percentage%; --orb-colour:@Colour">
  </div>
</div>



@code {
  [Parameter]
  public string? Name { get; set; }

  [Parameter]
  public string Colour { get; set; }

  [Parameter]
  public int Value { get; set; }

  private float Percentage => ((float)Value / (float)Max)*100;

  [Parameter]
  public int Max { get; set; }
}
