@foreach (var stat in Stats) {
  <div class="card m-2 @FlexFillClass" style="max-height: 80px">
    <div class="card-header text-center text-uppercase p-1" >@Truncate(stat.Name)</div>
    <div class="card-body p-0" style="width: 45px;">
      <p class="color-white">@stat.Value</p>
    </div>
  </div>
}
@code {
  [Parameter]
  public IEnumerable<Stat> Stats {get; set;}

  [Parameter]
  public bool? FlexFill {get; set;}

  private string Truncate(string input) {
    return input.Substring(0, Math.Min(3, input.Length));
  } 

  private string FlexFillClass => FlexFill ?? false ? "flex-fill" : "";
}
