name: build-publish

on:
  pull_request:
    types: [closed]
    branches: [ main ]

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - run: dotnet build -c Release
      - run: dotnet publish -c Release -o out

      - uses: actions/upload-artifact@v4
        with:
          name: release-publish
          path: out
